body{
    background-image: linear-gradient(45deg, transparent 0%, transparent 46%,rgba(114, 114, 114,0.06) 46%, rgba(114, 114, 114,0.06) 70%,transparent 70%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 59%,rgba(114, 114, 114,0.06) 59%, rgba(114, 114, 114,0.06) 91%,transparent 91%, transparent 100%),linear-gradient(0deg, transparent 0%, transparent 15%,rgba(114, 114, 114,0.06) 15%, rgba(114, 114, 114,0.06) 40%,transparent 40%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    height: 660px;
}
.chat-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #e5dfdf;
    border-radius: 5px;
    background-color: antiquewhite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
    margin-bottom: 10px;
}

.chat-message {
    margin-bottom: 10px;
}

.bot {
    background-color: #f3c9c9;
    padding: 8px 10px;
    border-radius: 5px;
}

.user {
    background-color: #d1f1ff;
    padding: 8px 10px;
    border-radius: 5px;
}

input[type="text"] {
    width: calc(100% - 70px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    width: 60px;
    padding: 8px;
    border: none;
    background-color: #469dfa;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
